main {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#board {
  height: 400px;
  width: 466px;
  min-width: 466px;;

  background-color: rgb(201, 201, 201);
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content:center;
  padding: 10px;
  gap: 10px;
}

.space {
  height: 57px;
  width: 57px;
  background-color: #333;
  border-radius: 100%;
  
}

.hover {
  background-color: #686868;
}

.redPiece {
  background-color: rgb(133, 20, 20);
}

.yellowPiece {
  background-color:rgb(194, 149, 0);
}

#messageTab {
  height: 100%;
  width: 200px;
}