html,
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

main {
  padding-left: 20px;

}

#board {
  height: 430px;
  width: 510px;
  min-width: 510px;
  padding: 50px;
}

.space {
  height: 57px;
  width: 57px;
}

#messageTab {
  height: 100%;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
}

.text {
  font-size: 25px;
}