* { /* Global variables */
  --size: calc(70px); /* TODO: * 5vh */
  --dimension:11;
}

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    overflow: hidden;
    background-color: rgb(15, 14, 17);
}

#gameGrid {
    display: grid;
    grid-template-rows: repeat(var(--dimension), var(--size));
    grid-template-columns: repeat(var(--dimension), var(--size));
}

.controls {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
	user-select:none;
}

.control-btn {
    width: 50px;
    height: 50px;
    font-size: 24px;
}

.cell {
    width: var(--size);
    height: var(--size);
    background-color: rgb(24, 24, 24);
    display: flex;
    justify-content: center;
    align-items: center;
	user-select: none;
}

.sprite {
    content: '';
    position: absolute;
    width: var(--size); 
    height: var(--size);
    background: url('gridGame/idle.gif') no-repeat center center;
    background-size: cover;
    image-rendering:pixelated; /* Disable anti-aliasing to prevent sprite blurring */
}
    
.wall {
    background-color: rgb(0, 0, 0);
}

.solution {
    background-color: rgb(0, 0, 0);
	border: solid 10px white;
    width: calc(var(--size)-10px);
    height:  calc(var(--size)-10px);
    z-index:2;
}

.block {
    background-color: rgb(0, 0, 0);
    width: calc(var(--size)-10px);
    height:  calc(var(--size)-10px);
    z-index:2;
}

#popup {
    z-index:100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: white;
    color: black;
    border-radius: 8px;
    text-align: center;
    display:none; /* Initially invisible */
}

#popup button {
    margin-top: 10px;
    padding: 5px 10px;
}

/* Main menu button styles */
#mainMenuButton {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background: url('gridGame/exit.png') no-repeat center center;
    background-size: contain;   
    width: 40px;
    height: 40px;
    border: none;
}

/* Header styles */
header {
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    color: white;
}

/* Restart text */
#restartText {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: white;
}