@font-face {
  font-family: tron;
  src: url(./assets/Tr2n.ttf);
}

@font-face {
  font-family: tron2;
  src: url(./assets/Tron-JOAa.ttf);
}

body,
html {
	margin: 0;
	padding: 0;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #242424;
	overflow: hidden;
}

.container {
	position: fixed;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}

.panel {
	position: relative;
	display:inline-block; 
	width: 250px;
	height: 250px;
	color: white;
	text-align: center;
	align-content: center;
	transition: skew 0.5s ease, transform 0.5s ease, background-color 0.5s ease;
	text-decoration: none;
}

.panel1 {
	border-radius: 15px;
	border: solid 10px white;
	box-shadow: inset 0 0 10px rgb(255, 243, 133), 0 0 10px rgb(255, 243, 133);
	width: 225px;
	height: 200px;
	right: -155px;
	top: 25px;
	transform: rotate(20deg) skew(20deg, 25deg);
}
.panel1:hover {
	transform: rotate(20deg) skew(20deg, 25deg) translate(-10px, 10px);
	background-color: #666635;
}

.panel2 {
	border-radius: 15px;
	border: solid 10px white;
	box-shadow: inset 0 0 10px rgb(133, 255, 245), 0 0 10px rgb(133, 255, 245);
	transform: rotate(45deg);
	top: -200px;
}

.panel2:hover {
	transform: rotate(45deg) translate(-10px, -10px);
	background-color: #35665B;
}

.panel3 {
	border-radius: 15px;
	border: solid 10px white;
	box-shadow: inset 0 0 10px rgb(255, 176, 133), 0 0 10px rgb(255, 176, 133);
	width: 225px;
	height: 200px;
	right: 155px;
	top: 25px;
	transform: rotate(-20deg) skew(-20deg, -25deg);
}
.panel3:hover {
	transform: rotate(-20deg) skew(-20deg, -25deg) translate(10px, 10px);
	background-color: #663D3D;
}

/* TODO: Remove underlines from link */
.panel-text {
	display: block;
	margin: 0 auto;
	position: relative;
	top: 0%;
	font-size:30px;
	font-family: 'tron';
}
.panel1 .panel-text {
	transform: skew(-20deg, -25deg) rotate(-20deg);
	text-shadow: 0 0 10px rgb(255, 243, 133), 0 0 10px rgb(255, 243, 133);

}
.panel2 .panel-text {
	transform: rotate(-45deg);
	text-shadow: 0 0 10px rgb(133, 255, 245), 0 0 10px rgb(133, 255, 245);
}
.panel3 .panel-text {
	transform: skew(20deg, 25deg) rotate(20deg);
	text-shadow: 0 0 10px rgb(255, 176, 133), 0 0 10px rgb(255, 176, 133);
}