body,
html {
	height: 100%;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f0f0f0;
}


.game-container {
	display: flex;
	flex-direction: column;
	width: 350px;
	align-items: center;
}

.info-panel {
	display: flex;
	justify-content: space-around;
	width: 100%;
	margin-bottom: 20px;
	font-size: 20px;
}

.mole-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 15px;
}

.mole-hole {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: #8a6d3b;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mole {
	width: 100px;
	transition: transform 0.3s ease;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
}

.start-button {
	position:absolute;
	top: 70%;
	background-color: yellow;
	border: none;
	border-radius: 20px;
	padding: 10px 20px;
	font-size: 20px;
	cursor: pointer;

	transition: transform 0.5s ease, opacity 0.5s ease;
}